{% extends "main/base.html" %}

{% block title %}logIN{% endblock%}

{% load crispy_forms_tags %}

{% block content %}
    <style>
        .register-header{
        text-align: center;
        margin-top: 50px;
        color: rgb(39, 116, 146);
    }
    .container{
        text-align: center;
    }
        .form-group{
        font-size: large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 50px;
    }
        .ctrlHolder{
        margin-bottom: 20px;
        color: rgb(236, 165, 32);
    }
    .btn-secondary {
        background-color: rgb(39, 116, 146);
        margin-top: 25px;
        font-size: large;
    }
    .register-link{
        margin-top: 25px;
        color: rgb(236, 165, 32);
    }
    </style>
    <h1 class="register-header">logIN</h1>
    <div class="container">
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-secondary btn-sm">logIN</button>
            <p class="register-link">Need to signUP? <a href="/register">Register Here</a></p>
        </form>
    </div>
{% endblock %}